/* ===== GLOBAL =========== */
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
/* ===== VARIABLES =========== */
:root { 
  --verydarkblue:  hsl(233, 47%, 7%);
  --darktblue: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --mainparagraph:hsla(0, 0%, 100%, 0.75);
  --statsheading: hsla(0, 0%, 100%, 0.6);
  --font-size : 16px;
  --font-inter: 'Inter', sans-serif;
  --font-deca: 'Lexend Deca', sans-serif;

}
/* ===== BODY =========== */
body {
  background: var(--verydarkblue);
  margin: auto;
  color: white;  
  display: grid;
  
}
 /* ===== LAYOUT =========== */
.grid{
  max-width: 20rem;
  margin: 3rem 1rem 4rem;
}

.container {
  background-color: var(--darktblue);
  border-radius: 0 0 4px 4px;  
  
}

.section .img img { 
  width: 100%;
  border-radius: 4px 2px 0 0;  
}

/* ===== MAIN =========== */

main {
  margin: auto;
}

/* ===== IMAGE =========== */

.img {
  display: flex;
  align-items: stretch;
  background-color: var(--violet);
  border-radius: 5px 5px 0 0 ;
}

.img img {
  mix-blend-mode: multiply;
  opacity: 0.8; 
}

/* ===== TEXT =========== */

.text{
  align-items:center;
  padding: 0.1rem 1rem 0 1rem;
  font-size: var(--font-size);
}

.text h1 {
  font-family: var(--font-inter);
  margin-top: -25px;
  margin-bottom: 10px;
  text-align: center;
}

.text h1 span {
  color: var(--violet);
}

.text p {
  opacity: 0.5;
  font-family:var(--font-inter);
  font-size: 12px;
  margin-top: 1rem;
  
  text-align: center;
}

/*=========== ANALYTICS ================= */

#analytics {
  padding-bottom: 0.125rem;
}

.analytics {
  text-align: center;
  
 
}

.analytics h2 {
  font-size: var(--font-size);
  font-family: var(--font-inter);
  font-weight: 700;
  padding-bottom: 0.4rem;
}

.analytics p {
  margin-bottom: 1.20rem;
  opacity: 0.7;
  font-size: 9px;  
  font-family:var(--font-deca);   
}

@media (min-width: 1000px){
  
/*=========== GLOBAL ================= */
:root {
  --font-size : 26px;
}
/*=========== LAYOUT ================= */

body {
  max-width: 1000px;
}

.grid {
  max-width: 70rem;
  border-radius: 4px;  
}
/*=========== IMAGE ================= */
.img {
  border-radius: 4px;
}

.container { 
  display: flex;  
  align-items: center;
  max-width: 980px;
}

.order-2 {
  display: flex;
  order: 2;
}



.text h1{
  text-align: left;
  
}
.text p {
  text-align: left;
  margin: auto;
}


.analytics  {  
  display: flex;
  position: absolute;
  padding-top: 2rem;    
}

.analytics h2 {
  position: relative;
  right: 35.3rem;
  margin-bottom: 10rem;
}


.analytics p {
  position: relative;
  top: 2rem;
  right: 39rem;
}



}